@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./fontIcon.css";
* {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
body {
  overflow-x: hidden !important;
}
.nav-button {
  background: #E4003B;
  color: white;
  border: none;
}
.nav-link {
  color: #707070 !important;
}
.bg-img {
  background-image: url(../images/change-begins.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.img-opacity {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 23.33%, rgba(0, 0, 1, 1.4) 100%);
}
.display-heading {
  color: white;
}
.nav-button-2 {
  background-color: #E4003B;
  color: white;
  border: none;
}
.nav-button-2:hover {
  background-color: #9F0029;
}
.nav-button:hover{
  background-color: #9F0029;
}
.btn-danger:hover{
  background-color: #9F0029;
}
.form-control-1:hover{
  background-color: #9F0029;
}
.page-heading {
  color: #E4003B;
}
.page-paragraph {
  color: black; 
}
.triage-heading {
  color: black;
}
.involed-buttons {
  background-color: #f8f8f8;
  color: black;
}
.involed-buttons:hover {
  background-color: #E4003B;
}
.card-text {
  color: black;
}
.bg-img-2 {
  background-image: url(../images/kier-starmer.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-opacity-2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 23.33%, rgba(0, 0, 1, 1.4) 100%);
}
.bg-img-3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.68) 33.33%, rgba(0, 0, 0, 0.12) 100%), url(../images/winnig-labor.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.call-out-section {
  margin-top: auto;
  color: white;
}
.call-out-text {
  color: white;
}
.btn-danger {
  background-color: #E4003B;
}
.footer-headings{
  color: #666666;
  /* text-decoration: underline; */
}
.d-block{ 
  color: #666666;
  text-decoration:none;
}
.copyright-text{
  color: #666666;
}
.form-control-1{
  background-color: #E4003B; 
  color: white;
  border: none;
}
a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.icon-instagram{
color: #d62976;
}
.Copyright{ 
  color: #666666;
}
.fa-brands:hover{
  color: #E4003B
}
.fa-brands{
  color: #666666;
}
.legal-link:hover{
  text-decoration: underline;
  color: #666666;

}

/* responsive designs */

@media only screen and (min-width: 250px) and (max-width: 453px) {
  /* extra small screen */

.logo {
  width: 175px;
}
.none{
  display: none;
}
.nav-button {
  padding: 4px 12px;
  font-size: 14.4px;
  font-weight: 300;
}
.nav-link {
  font-size: 14.4px;
  font-weight: 600;
}
.bg-img {
  height: 380px;
  background-size: cover;
  background-position: center;
}
.display-heading {
  font-weight: 990;
  font-size: 4rem;
  margin-left: 0px !important;
}
.nav-button-2 {
  font-size: 18px;
  padding: 9.0128px 18px;
  font-weight: 300;
}
.yt-width{
  width: 100%;
  height: 166px;
}
.page-heading {
  font-weight: 600;
  font-size: 23px;
}
.page-paragraph {
  font-size: 20px;
  font-weight: 300;
}
.container-width {
  width: 912px;
}
.triage-heading {
  font-size: 23px;
  margin-top: 33px;
  font-weight: 300;
}
.margin-2 {
  margin-left: 0px;
  margin-right:0px;
}
.involed-buttons {
  padding: 9.0128px 21px;
  font-size: 14px;
  font-weight: 400;
  border: none;
}
.size{
  width: 100%;
  height: 135px;
}
.padding-1 {
  margin-bottom: 36px
}
.padding-2 {
  padding: 22px
}
.card-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
}
.card-title {
  font-weight: 400;
}
.margin-3 {
  margin-top: 50px;
  font-weight: 300;
}
.bg-img-2 {
  height: 320px;
  margin-top: 64px;
  background-position: center;
}
.bg-img-3 {
  height: 296px;
  background-position: center;
  margin-top: 33px;
  margin-bottom: 33px;
}
.call-out-section {
  font-weight: 400;
  font-size: 29px;
}
.call-out-text {
  font-weight: 400;
  font-size: 18px;
}
.dropdown-toggle{
  font-size: 14px !important;
  color: #666666 !important;
}
.btn-danger {
  font-weight: 400;
  font-size: 18px !important;
  padding: 9.0128px 18px;
}
.footer-headings{
  margin-bottom: 10px;
  font-size: 20px;
}
.d-block{
  
  font-weight: 300;
  padding-bottom: 17px;
}
.copyright-text{
  font-size: 16px;

  font-weight: 300;
}
.form-control-1{
 
  font-weight: 400; 
}
.null-padding{
  padding-left: 0px !important;
}
.Copyright{
  font-weight: 400;
  padding-left: 32px;
  font-size: 11px;
}
.footer-officials{
  row-gap: 1.5rem;
  gap: .333rem;
  display: flex;
  flex-wrap: wrap;
}
.toggle_button{
flex-direction: row !important;
display: flex;
justify-content: space-between;
}  
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  /* small screen  */
  
  .logo {
  width: 140px;
}
.margin-1 {
  margin-left: 0px;
  margin-right: 0px;
}
.nav-button {
  padding: 4px 12px;
  font-size: 14.4px;
  font-weight: 300;
}
.nav-link {
  font-size: 14.4px;
  font-weight: 600;
}
.bg-img {
  height: 380px;
  background-size: cover;
  background-position: center;
}
.display-heading {
  font-weight: 990;
  font-size: 71px;
}
.nav-button-2 {
  font-size: 18px;
  padding: 9px 18px;
  font-weight: 300;
}
.page-heading {
  font-weight: 600;
  font-size: 23px;
}
.yt-width{
  width: 100%;
  height: 198px;
}
.page-paragraph {
  font-size: 20px;
  font-weight: 300;
}
.container-width {
  width: 912px;
}
.triage-heading {
  font-size: 23px;
  margin-top: 33px;
  font-weight: 300;
}
.margin-2 {
  margin-left: 0px;
  margin-right: 0px;
}
.involed-buttons {
  
  padding: 9.0128px 22px;
  font-size: 14px;
  font-weight: 400;
}
.padding-1 {
  margin-bottom: 11px
}
.padding-2 {
  padding: 24px
}
.card-text {
  font-size: 18px;
  font-weight: 400;
}
.card-title {
  font-size: 23px;
  font-weight: 400;
}
.margin-3 {
  margin-top: 38px;
  font-size: 1.35rem;
  font-weight: 300;
}
.bg-img-2 {
  height: 375px;
  margin-top: 29px;
}
.size{
  width: 100%;
  height: 195px;
}
.bg-img-3 {
 
  height: 337px;
  margin-top: 34px;
  margin-bottom: 34px;
}
.call-out-section {
  width: 8.25em;
  font-size: 30px;
  font-weight: 400;
}
.call-out-text {
  width: 13.5em;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
}
.btn-danger {
  padding: 0.5633rem 1.125rem;
  font-size: 1.125rem;
  font-weight: 400;
}
.footer-headings{
  font-size: 23px;
  line-height: 1.25;
  margin-bottom: 10px;
}
.d-block{
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 17px;
}
.copyright-text{
  font-size: 16px;
  font-weight: 300;
}
.form-control-1{
  
  font-size: 1rem;
  font-weight: 400; 
}
.footer-officials{
  row-gap: 4px;
  margin-bottom: 20px;
}
.Copyright{
  font-size: 0.73125rem;
  font-weight: 400;
  padding-left: 32px;
}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* medium screen */
.logo {
  width: 190px;
}
.margin-1 {
  margin-left: 36px;
  margin-right: 36px;
}
.nav-button {
  padding: 4px 12px;
  font-size: 14.4px;
  font-weight: 300;
}
.nav-link {
  font-size: 14.4px;
  font-weight: 600;
}
.bg-img {
  height: 564px;
  background-size: cover;
  background-position: center;
}
.yt-width{
  width: 100% !important;
  height: 420px !important;
  margin: 0px !important;
}
.display-heading {
  font-weight: 900;
  margin: 0px !important;
  font-size: 100px;
}
.nav-button-2 {
  font-size: 18px;
  margin-top: 20px;
  padding: 9px 18px;
  font-weight: 300;
}
.page-heading {
  font-weight: 600;
  font-size: 25px;
}
.page-paragraph{
  font-size: 20px;
  font-weight: 300;
}
.container-width {
  width: 912px;
}
.triage-heading {
  font-size: 25px;
  margin-top: 64px;
  font-weight: 300; 
}
.margin-2 {
  margin-left: 0px;
  margin-right: 0px
}
.involed-buttons {
  padding: 9.0128px 24px;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
.padding-1 {
  margin-bottom: 36px
}
.padding-2 {
  padding: 28px
}
.card-text {
  font-size: 1.125rem;
  line-height: 23px;
  font-weight: 400;
}
.card-title {
  font-size: 25px;
  font-weight: 400;
}
.size{
  width: 100%;
  height: 182px;
}
.margin-3 {
  margin-top: 30px;
  font-size: 1.35rem;
  font-weight: 300;
}
.bg-img-2 {
  height: 564px;
  margin-top: 64px;
  background-position: center;
}
.bg-img-3 {
  height: 301px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.call-out-section {
  width: 8.25em !important;
  font-size: 33px;
  font-weight: 400;
}
.call-out-text {
  width: 13.5em;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.btn-danger {
  padding: 0.5633rem 1.125rem;
  font-size: 1.125rem;
  font-weight: 400;
}
.footer-headings{
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 10px;
  
}
.d-block{
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 17px;
}
.copyright-text{
  font-size: 16px;
  font-weight: 300;
}
.form-control-1{
  font-size: 1rem;
  font-weight: 400; 
}
.footer-officials{
  row-gap: 1.5rem;
  margin-bottom: 20px !important;
}
.Copyright{
  font-size: 0.73125rem;
  font-weight: 400;
  padding-left: 32px;
}
.null-margin{
  margin: 0px !important;
}
.null-padding{
  padding-left: 0px !important;
  margin-right: 16px;
}
.call-out-button{
  display: flex;
  justify-content: end;
  width: 33%;
  align-items: end;
}
.nav-button-3{
  display: flex;
  justify-content: end;
  
}
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  /* large screen */

 .logo {
  width: 263px;
}
body {
  overflow-x: hidden !important;
}
.margin-1 {
  margin-left: 0px;
  margin-right: 0px;
}
.p_large{
  padding: 0px 25px 0px 25px;
}
.nav-button {
  padding: 4px 12px;  
  font-size: 14.4px;
  font-weight: 300;
}
.nav-link {
  font-size: 14.4px;
  font-weight: 600;
  padding: 10px 0px;
}
.yt-width{
  width: 100% !important;
  height: 500px !important;
  margin: 0px !important;
}
.bg-img {
  height: 564px;
  background-size: cover;
  background-position: center;
}
.display-heading {
  font-weight: 900;
  font-size: 110px;
  margin-left: 0px !important;

}
.nav-button-2 {
  font-size: 18px;
  padding: 9px 18px;
  font-weight: 300;
}
.page-heading {
  font-weight: 600;
  font-size: 26px;
}
.page-paragraph {
  font-size: 20px;
  font-weight: 300;
}
.container-width {
  width: 912px;
}
.triage-heading {
  font-size: 26px;
  margin-top: 64px;
  font-weight: 300;
}
.margin-2 {
  margin-left: 0px;
  margin-right: 0px;
}
.involed-buttons {
  padding: 9.0128px 27px;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
.padding-1 {
  margin-bottom: 31px
}
.padding-2 {
  padding: 28px
}
.card-text {
  font-size: 1.07rem;
  font-weight: 400;
  line-height: 1.2;
}
.card-title {
  font-size: 25px;
  font-weight: 400;
}
.size{
  width: 100%;
  height: 251px;
}
.margin-3 {
  margin-top: 45px;
  font-size: 1.35rem;
  font-weight: 300;
}
.bg-img-2 {
  height: 564px;
  margin-top: 64px;
  background-size: cover;
  background-position: center;
}
.nav-button-3{
  display: flex;
  justify-content: end;
  
}
.bg-img-3 {
  height: 360px;
  margin-top: 52px;
  margin-bottom: 52px;
  padding: 28px !important;
}
.call-out-section {
  width: 8.25em;
  font-size: 43px;
  font-weight: 400; 
}
.call-out-text {
  width: 11.5em;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
}
.btn-danger {
  padding: 0.5633rem 1.125rem;
  font-size: 1.125rem;
  font-weight: 400;
}
.footer-headings{
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 10px;
}
.d-block{
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 17px;
}
.copyright-text{
  font-size: 16px;
  font-weight: 300;
}
.form-control-1{
  font-size: 1rem;
  font-weight: 400; 
}
.footer-officials{
  row-gap: 1.5rem;
  margin-bottom: 20px !important;
}
.Copyright{
  font-size: 0.73125rem;
  font-weight: 400;
  padding-left: 32px;
}
.call-out-button{
  display: flex;
  justify-content: end;
  width: 33%;
  align-items: end;
}
.null-padding{
  padding-left: 0px !important;
  margin-right: 16px !important;
}
.null-margin{
  margin: 0px !important;
}
.navbar-nav{
  display: flex;
  flex-direction: row;
}
.nav-item{
  margin-right: 45px;
}
.m_large{
  margin-left: 16px;
}

}

@media only screen and (min-width: 1201px) and (max-width: 2000px) {
  /* extra large screen */

.logo {
  width: 263px;
}
body {
  overflow-x: hidden !important;
}
.margin-1 {
  margin-left: 32px;
  margin-right: 32px;
}
.nav-button {
  padding: 4px 12px;  
  font-size: 14.4px;
  font-weight: 300;
}
.nav-link {
  font-size: 14.4px;
  font-weight: 600;
  padding: 10px 0px;
}
.xl-margin{
  margin-left: 40px;
}
.yt-width{
  width: 100% !important;
  height: 500px !important;
  margin: 0px !important;
}
.bg-img {
  height: 564px;
  background-size: cover;
  background-position: center;
}
.display-heading {
  font-weight: 900;
  font-size: 110px;
  margin-left: 0px !important;

}
.nav-button-2 {
  font-size: 18px;
  padding: 9px 18px;
  font-weight: 300;
}
.page-heading {
  font-weight: 600;
  font-size: 26px;
}
.page-paragraph {
  font-size: 20px;
  font-weight: 300;
}
.container-width {
  width: 912px;
}
.triage-heading {
  font-size: 26px;
  margin-top: 64px;
  font-weight: 300;
}
.margin-2 {
  margin-left: 36px;
  margin-right: 36px;
}
.involed-buttons {
  padding: 9.0128px 27px;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
.padding-1 {
  margin-bottom: 31px
}
.padding-2 {
  padding: 28px
}
.card-text {
  font-size: 1.07rem;
  font-weight: 400;
  line-height: 1.2;
}
.card-title {
  font-size: 25px;
  font-weight: 400;
}
.size{
  width: 100%;
  height: 344px;
}
.margin-3 {
  margin-top: 150px;
  font-size: 1.35rem;
  font-weight: 300;
}
.bg-img-2 {
  height: 564px;
  margin-top: 64px;
  background-size: cover;
  background-position: center;
}
.nav-button-3{
  display: flex;
  justify-content: end;
  
}
.bg-img-3 {
  height: 360px;
  margin-top: 52px;
  margin-bottom: 52px;
  padding: 28px !important;
}
.call-out-section {
  width: 8.25em;
  font-size: 43px;
  font-weight: 400; 
}
.call-out-text {
  width: 11.5em;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
}
.btn-danger {
  padding: 0.5633rem 1.125rem;
  font-size: 1.125rem;
  font-weight: 400;
}
.footer-headings{
  font-size: 1.5rem;
  line-height: 1.25;
  margin-bottom: 10px;
}
.d-block{
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 17px;
}
.copyright-text{
  font-size: 16px;
  font-weight: 300;
}
.form-control-1{
  font-size: 1rem;
  font-weight: 400; 
}
.footer-officials{
  row-gap: 1.5rem;
  margin-bottom: 20px !important;
}
.Copyright{
  font-size: 0.73125rem;
  font-weight: 400;
  padding-left: 32px;
}
.call-out-button{
  display: flex;
  justify-content: end;
  width: 33%;
  align-items: end;
}
.null-padding{
  padding-left: 0px !important;
  margin-right: 16px !important;
}
.null-margin{
  margin: 0px !important;
}
.navbar-nav{
  display: flex;
  flex-direction: row;
}
.nav-item{
  margin-right: 45px;
}
.m_large{
  margin-left: 16px;
}
}
@media only screen and (min-width: 428px) and (max-width: 926px){
.yt-width{
  /* height: 227px !important; */
  margin: 0px !important;
  
}
.Copyright{
  font-size: 0.73125rem;
  font-weight: 400;
  padding-left: 32px;
  margin-left: 0px;
}
.footer-officials{
  margin-bottom: 20px !important;
}
.null-padding{
  padding-left: 0px !important;
  margin-right: 16px !important;
}
.null-margin{
  margin: 0px !important;
}
}

